<link rel="stylesheet" href="../css/error.css" />
<link rel="stylesheet" href="../css/setting.css" />
<link rel="stylesheet" href="" />
<div
  class="err"
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
  "
>
  <div class="alert_ alert-danger" role="alert">PAGE NOT FOUND!!!</div>

  <img src="../img/404.jpeg" alt="" />
</div>
